body {
    background-image: url(./assets/background/IMG_2135.jpg);
    background-size: cover;
    /* background-position: center; */
}

/* Navbar {
    background-image: url(./assets/background/pexels-emre-can-acer-2110951.jpg);
    background-size: cover;
} */

footer {
    font-size: 60px;
    align-items: center;
}

p {
    font-size: 30px;
}

