body {
    background-image: url('./assets/background/pexels-scott-webb-532563.jpg');
    background-size: cover;
    background-position: center;
}

.main-nav {
    background-image: url('./assets/background/pexels-emre-can-acer-2110951.jpg');
    background-size: cover;
}


footer {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

footer a {
    margin-inline: 1vw;
}

p {
    font-size: 35px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.my-2 {
    font-size: 30px;
    color: #00FFFF;
}

/* 
we need app to be full screen
then we need to make our nav a certain %
then our footer
or we can make our Page like 80vh and everything else will fit the rest
*/